::selection {
  background-color: rgb(155, 59, 59);
  color: lightblue;
}

 body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: beige;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
  text-align: right;
  background-color: #26682e;
  height: 60px;
  padding-top: 20px;
  border-bottom: 10px solid #700c0c;
}

nav li, footer li {
  list-style: none;
  display: inline;
  padding: 0px 7px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  background-color: grey;
  color: white;
  border: 2px solid white;
  border-radius: 15%;
  padding: 7px;
}

#about img {
  
  width: 200px;
  height: 350px;
  border-radius: 7px;
  float: right;
  clear: right;
  margin-top: 30px;
}

#about-content {
  clear: right;
  display: block;
  font-weight: 500;
}


.container{
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}


.main-image-card{
  border: 5px dotted rgb(160, 160, 160);
  background-color: rgb(19, 85, 39);
  width: 500px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.image-header{
  border: black;
  text-decoration: none;
  background-color: rgb(219, 218, 218);
  color:  rgb(155, 59, 59);
  border: 2px solid black;
  border-radius: 5%; 
}

h2 .image-header{
  margin: 0 auto;
  padding: 5px;
  width: 500px;
}
.top-image{
  flex: 1 0 100%;

}
.top-image img{
  width: 100%;
  /* height: 450px; */
  border-radius: 7px;
  margin-top: 30px;
}


.smaller-cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.individual-card{
  margin: 0 10px;
  flex: 1 0 20%;
  border: 5px dotted rgb(160, 160, 160);
  background-color: rgb(19, 85, 39);
  width: 200px;
  height: 370px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
}


h3 {
  padding: 5px;
  width: 200px;
}

.card-image img{
  margin: 30px auto;
  display: block;
  width: 200px;
  height: 250px;
  border-radius: 7px;
}


.Contact h2{
  text-align: center;
}




.contact form{
  text-align: center;
}



 


footer{
  bottom: 0;
  width: 100%;
  height: 15px;
} 


footer ul {
  
  text-align: center;
  padding: 5px 100px;
  background-color: #26682e;
  height: 15px;
  padding-bottom: 20px;
  border-top: 7px solid #700c0c;
}

footer a {
  text-decoration: none;
  background-color: grey;
  color: white;
  border: 2px solid white;
  border-radius: 15%;
  padding: 0;
  
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .individual-card{
    flex: 1 0 43%;
    max-width: 43%;
  }
}

